.weiseSchrift{
    color: white;
}
.openSans{
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: #ee4d2e;
}
.edlerSpender{
    color: #1cb992;
}
.neuSchwuchtel{
    color: #e208ea;
}
.altSchwuchtel{
    color: #5bb91c;
}
.admin{
    color: #ff9900;
}
.fliesentischbesitzer{
    color:#6c432b
}

.gesperrt{
    color: #444444;
}
.altesPink{

}
.schwuchtel{
    color: #ffffff;
}
.angenehmesGruen{
    color: #1db992;
}
.megaEpischesBlau{
    color: #008fff ;
}
.olive{
    color: #b0ad05;
}

.richtigesGrau{
    background: #161618;
}
.moderator{
    color: #008fff;
}

.cha0s{
    font-weight: bold
}
.center{
    text-align: center;
}
.link{
    color: #75c0c7;
}